<h4>1. Wie alt sind Sie?</h4>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option1" value="1" [checked]="itemValue === 1" (change)="onItemChange(1)">
  <label class="form-check-label" for="option1">
    Jünger als 40
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option2" value="2" [checked]="itemValue === 2" (change)="onItemChange(2)">
  <label class="form-check-label" for="option2">
    40-50
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option3" value="3" [checked]="itemValue === 3" (change)="onItemChange(3)">
  <label class="form-check-label" for="option3">
    51-60
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option4" value="4" [checked]="itemValue === 4" (change)="onItemChange(4)">
  <label class="form-check-label" for="option4">
    61-70
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option5" value="5" [checked]="itemValue === 5" (change)="onItemChange(5)">
  <label class="form-check-label" for="option5">
    71-80
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="option6" value="6" [checked]="itemValue === 6" (change)="onItemChange(6)">
  <label class="form-check-label" for="option6">
    Über 80
  </label>
</div>

