<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-7 offset-lg-3">
            <mat-card>
                <h2>Neues Passwort festlegen</h2>
                <ng-container *ngIf="model.token">

                    <form #loginForm="ngForm" novalidate (ngSubmit)="resetPassword()">
                        <input style="display: none" type="text" autocomplete="username" name="email"
                            [(ngModel)]="model.email">
                        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100 pb-2">
                            <mat-label>Neues Passwort</mat-label>
                            <input required matInput [(ngModel)]="model.newPassword" name="password" type="password"
                                autocomplete="new-password" #password="ngModel" required minlength="6">
                            <mat-error [hidden]="password.valid || password.pristine">Passwort muss aus mindestens sechs
                                Zeichen bestehen</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
                            <mat-label>Passwort bestätigen</mat-label>
                            <input required matInput [(ngModel)]="model.confirmPassword" name="confirm-password"
                                type="password" #confirmPassword="ngModel" required validateEqual="password">
                            <mat-error [hidden]="confirmPassword.valid || confirmPassword.pristine">Die Passwörter
                                stimmen
                                nicht überein</mat-error>
                        </mat-form-field>
                        <div class="row mt-2 justify-content-sm-between">
                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <button mat-button [routerLink]='["/"]'>ABBRECHEN</button>
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-right">
                                <button mat-button color="primary" type="submit"><span>PASSWORT ERSTELLEN</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </mat-card>
        </div>
    </div>
</div>